div.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(129,151,164,.5);
    border-radius: 4px;
    padding: 3px;
}

div.campo input{
    margin-left: 5px;
    width: 250px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    line-height: 24px;
    padding: 7px 0;
    box-shadow: none;
    height: auto;
    background-color: rgba(15,23,30,.2);
    border: none;
    outline: 0;
    font-family: sans-serif;

    box-sizing: border-box;
}
div.campo label{
    cursor: pointer;
}
div.campo label:hover {
    color: #fff;
}
